html,
body {
  height: 100%;
}

.main {
  height: 100%;
}

.dark-title {
  color: blue;
}

.light-title {
  color: orange;
}

.dark-body {
  background-color: black;
}

.light-body {
  background-color: white;
}